@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
   --blue: #223432;
   --black: #333;
   --white: #fff;
   --light-color: #666;
   --light-bg: #eee;
   --border: .2rem solid rgba(0, 0, 0, .1);
   --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
   --green: green;
   --background: rgb(221, 221, 221);
   --text: rgb(0, 54, 99);
   --greenlight: rgb(108, 192, 112);
   --orange: rgb(255, 102, 51);
   --fds-black: #000000;
   --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
   --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
   --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
   --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
   --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
   --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
   --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
   --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
   --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
   --fds-blue-05: #ecf3ff;
   --fds-blue-30: #aac9ff;
   --fds-blue-40: #77a7ff;
   --fds-blue-60: #1877f2;
   --fds-blue-70: #2851a3;
   --fds-blue-80: #1d3c78;
   --fds-button-text: #444950;
   --fds-comment-background: #f2f3f5;
   --fds-dark-mode-gray-35: #cccccc;
   --fds-dark-mode-gray-50: #828282;
   --fds-dark-mode-gray-70: #4a4a4a;
   --fds-dark-mode-gray-80: #373737;
   --fds-dark-mode-gray-90: #282828;
   --fds-dark-mode-gray-100: #1c1c1c;
   --fds-gray-00: #f5f6f7;
   --fds-gray-05: #f2f3f5;
   --fds-gray-10: #ebedf0;
   --fds-gray-20: #dadde1;
   --fds-gray-25: #ccd0d5;
   --fds-gray-30: #bec3c9;
   --fds-gray-45: #8d949e;
   --fds-gray-70: #606770;
   --fds-gray-80: #444950;
   --fds-gray-90: #303338;
   --fds-gray-100: #1c1e21;
   --fds-green-55: #00a400;
   --fds-highlight: #3578e5;
   --fds-highlight-cell-background: #ecf3ff;
   --fds-primary-icon: #1c1e21;
   --fds-primary-text: #1c1e21;
   --fds-red-55: #fa383e;
   --fds-soft: cubic-bezier(0.08, 0.52, 0.52, 1);
   --fds-spectrum-aluminum-tint-70: #e4f0f6;
   --fds-spectrum-blue-gray-tint-70: #cfd1d5;
   --fds-spectrum-cherry: #f35369;
   --fds-spectrum-cherry-tint-70: #fbccd2;
   --fds-spectrum-grape-tint-70: #ddd5f0;
   --fds-spectrum-grape-tint-90: #f4f1fa;
   --fds-spectrum-lemon-dark-1: #f5c33b;
   --fds-spectrum-lemon-tint-70: #fef2d1;
   --fds-spectrum-lime: #a3ce71;
   --fds-spectrum-lime-tint-70: #e4f0d5;
   --fds-spectrum-orange-tint-70: #fcdec5;
   --fds-spectrum-orange-tint-90: #fef4ec;
   --fds-spectrum-seafoam-tint-70: #caeef9;
   --fds-spectrum-slate-dark-2: #89a1ac;
   --fds-spectrum-slate-tint-70: #eaeff2;
   --fds-spectrum-teal: #6bcebb;
   --fds-spectrum-teal-dark-1: #4dbba6;
   --fds-spectrum-teal-dark-2: #31a38d;
   --fds-spectrum-teal-tint-70: #d2f0ea;
   --fds-spectrum-teal-tint-90: #f0faf8;
   --fds-spectrum-tomato: #fb724b;
   --fds-spectrum-tomato-tint-30: #f38e7b;
   --fds-spectrum-tomato-tint-90: #fdefed;
   --fds-strong: cubic-bezier(0.12, 0.8, 0.32, 1);
   --fds-white: #ffffff;
   --fds-white-alpha-05: rgba(255, 255, 255, 0.05);
   --fds-white-alpha-10: rgba(255, 255, 255, 0.1);
   --fds-white-alpha-20: rgba(255, 255, 255, 0.2);
   --fds-white-alpha-30: rgba(255, 255, 255, 0.3);
   --fds-white-alpha-40: rgba(255, 255, 255, 0.4);
   --fds-white-alpha-50: rgba(255, 255, 255, 0.5);
   --fds-white-alpha-60: rgba(255, 255, 255, 0.6);
   --fds-white-alpha-80: rgba(255, 255, 255, 0.8);
   --fds-yellow-20: #ffba00;
   --accent: #0866ff;
   --always-white: #ffffff;
   --always-black: black;
   --always-dark-gradient: linear-gradient(
       rgba(0, 0, 0, 0),
       rgba(0, 0, 0, 0.6)
   );
   --always-dark-overlay: rgba(0, 0, 0, 0.4);
   --always-light-overlay: rgba(255, 255, 255, 0.4);
   --always-gray-40: #65676b;
   --always-gray-75: #bcc0c4;
   --always-gray-95: #f0f2f5;
   --attachment-footer-background: #f0f2f5;
   --background-deemphasized: #f0f2f5;
   --badge-background-color-blue: var(--accent);
   --badge-background-color-dark-gray: var(--secondary-icon);
   --badge-background-color-gray: var(--disabled-icon);
   --badge-background-color-green: var(--positive);
   --badge-background-color-light-blue: var(--highlight-bg);
   --badge-background-color-red: var(--notification-badge);
   --badge-background-color-yellow: var(--base-lemon);
   --base-blue: #1877f2;
   --base-cherry: #f3425f;
   --base-grape: #9360f7;
   --base-lemon: #f7b928;
   --base-lime: #45bd62;
   --base-pink: #ff66bf;
   --base-seafoam: #54c7ec;
   --base-teal: #2abba7;
   --base-tomato: #fb724b;
   --text-badge-info-background: hsl(214, 89%, 52%);
   --text-badge-success-background: #31a24c;
   --text-badge-attention-background: hsl(40, 89%, 52%);
   --text-badge-critical-background: #e41e3f;
   --blue-link: #0064d1;
   --border-focused: #65676b;
   --card-background: #ffffff;
   --card-background-flat: #f7f8fa;
   --comment-background: #f0f2f5;
   --comment-footer-background: #f6f9fa;
   --dataviz-primary-1: rgb(48, 200, 180);
   --disabled-button-background: #e4e6eb;
   --disabled-button-text: #bcc0c4;
   --disabled-icon: #bcc0c4;
   --disabled-text: #bcc0c4;
   --divider: #ced0d4;
   --event-date: #f3425f;
   --fb-wordmark: #0866ff;
   --fb-logo: #0866ff;
}

* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none !important;
   text-transform: capitalize;
}

*::-webkit-scrollbar {
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track {
   background-color: transparent;
}

*::-webkit-scrollbar-thumb {
   background-color: var(--blue);
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section {
   padding: 7rem 2rem;
}

.heading {
   text-align: center;
   font-size: 4rem;
   color: var(--black);
   text-transform: uppercase;
   font-weight: bolder;
   margin-bottom: 3rem;
}

.link-btn {
   display: inline-block;
   padding: 1rem 3rem;
   border-radius: .5rem;
   background-color: var(--green);
   cursor: pointer;
   font-size: 1.7rem;
   color: var(--white);
}

.link-btn:hover {
   background-color: var(--white);
   color: var(--green);
}

.header {
   padding: 2rem;
   border-bottom: var(--border);
   backdrop-filter: blur(35px);
/* background: green; */
}
/* 
.header.active {
   background-color: var(--background);
   box-shadow: var(--box-shadow);
   border: 0;
} */

.header .logo {
   font-size: 2rem;
   font-weight: bolder;

}

/* .header .logo span {
   color: var(--blue);
} */

.header .nav a {
   margin: 0 1rem;
   font-size: 1.7rem;
   color: var(--black);
}

.header .nav a:hover {
   color: var(--text);
}

#menu-btn {
   font-size: 2.5rem;
   color: var(--green);
   cursor: pointer;
   display: none;
}

.home {
   background: url(../images/adminimg1.png) no-repeat;
   /* background-color: wheat; */
   background-size: cover;
   background-position: center;
}
/*
.home .content {
   width: 55rem;
   padding: 5rem;
} */

/* .one .content{
   width: 55rem;
   padding:5rem;
} */

/* .home .content h4 {
   font-size: 3.7rem;
   margin-bottom: 380px;
   text-transform: uppercase;
   color: var(--background); */
   /* border: 1px solid var(--text); */
/* } */

/* .home .content p {
   font-size: 1.5rem;
   color: var(--text);
   padding: 1rem 0;
}
*/
.form-container {
   max-width: 700px;
   margin: 50px auto;
   /* margin-top: -150px; */
   padding: 20px;
   /* background-color: var(--base-cherry); */
   background-color: #fff;
   border-radius: 8px;
   /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.form-container1 {
   max-width: 90%;
   margin: 50px auto;
   margin-top: 150px;
   padding: 20px;
   background-color: #fff;
   border-radius: 8px;
   /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* h1,
p {
   text-align: center;
   text-align: center;

} */




.form-container{
   /* min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   backdrop-filter: blur(35px); */
}

.line{
   background-color: #223432;
   width: 2px;
   height: 290px;
   margin-left: 400px;
   margin-top: -290px;
   /* margin-bottom: -250px; */
   border: 2x solid #223432;
   backdrop-filter: blur(35px);
}

.line2 {
   width: 300px;
   height: 300px;
   margin-right: 100px;
   overflow: hidden;
   border-radius: 10px;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.line2 img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}


.textparagraphs{
   width: 800px;
   height: 300px;
   margin-left: 420px;
   margin-top: -280px;
}
.textparagraphs h1,p{
text-align: justify;
}

.contact form{
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:2rem;
   margin:0 auto;
   max-width: 50rem;
}

.contact form .message{
   margin-bottom: 2rem;
   border-radius: .5rem;
   background-color: var(--blue);
   padding:1.2rem 1rem;
   font-size: 1.7rem;
   color:var(--text);
   text-align: center;
}

.contact form .box{
   width: 100%;
   margin-top: 1rem;
   margin-bottom: 2rem;
   border-radius: .5rem;
   background-color: var(--white);
   padding:1.2rem 1.4rem;
   font-size: 1.7rem;
   color:var(--black);
   text-transform: none;
}

.contact form span{
   font-size: 2rem;
   color:var(--text);
}


.footer {
   background-color: var(--light-bg);
}

.footer .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 3rem;
}

.footer .box-container .box {
   text-align: center;
}

.footer .box-container .box i {
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   line-height: 5rem;
   font-size: 2rem;
   background-color: var(--yellow);
   color: var(--green);
}

.footer .box-container .box h3 {
   font-size: 2rem;
   margin: 2rem 0;
   color: var(--black);
}

.footer .box-container .box p {
   font-size: 1.5rem;
   color: var(--text);
   text-transform: none;
}

.footer .credit {
   text-align: center;
   border-top: var(--border);
   padding-top: 2rem;
   margin-top: 2rem;
   font-size: 2rem;
   color: var(--light-color);
}

.footer .credit .agro {
   color: red;
}

.footer .credit span {
   color: var(--blue);
}

@media (max-width:991px) {

   html {
      font-size: 55%;
   }

   .header .link-btn {
      display: none;
   }

   section {
      padding: 5rem 2rem;
   }

}

@media (max-width:768px) {

   section {
      padding: 3rem 1rem;
   }

   #menu-btn {
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times {
      transform: rotate(180deg);
   }

   .header .nav {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      padding: 1rem 0;
      text-align: center;
      flex-flow: column;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .header .nav.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .nav a {
      margin: 1rem 0;
      font-size: 2rem;
   }

   .home {
      background-position: left;
   }

   .home .content {
      width: auto;
   }

}

@media (max-width:450px) {

   html {
      font-size: 50%;
   }

   .home .content h3 {
      font-size: 4rem;
   }

   .heading {
      font-size: 3rem;
   }

}